@media screen and (min-width: 769px) and (max-width: 1024px){
    /*헤더*/
    .intro>h1{
        font-size: 48px;
    }
    .intro>p{
        font-size: 17px;
    }
    .contact-links{
        font-size: 15px;
    }

    /*공통섹션*/
    section{
        padding: 0 4vw;
        gap: 50px;
    }

    /*메인 프로젝트 프레임 공통*/
    .frame-wrap{
        width: 60%;
    }

    /*메인 프로젝트 텍스트 공통*/
    .project-info{
        width: 40%;
    }
    .dot{
        width: 11px;
        height: 11px;
    }
    .project-info ul{
        display: inline-block;
        text-align: left;
    }
    .project-info>h2{
        font-size: 16px;
    }
    .project-info>h3{
        font-size: 28px;
    }
    .project-info>p{
        font-size: 16px;
    }
    .project-info ul li{
        font-size: 15px;
    }
    .type-tag>.btn{
        font-size: 13px;
    }

    .view-button{
        font-size: 13px;
    }

    /*clone-section*/
    .clone-section>h2{
        font-size: 28px;
    }
    .clone-section>p{
        font-size: 16px;
    }
    .clone-block .view-button{
        font-size: 13px;
    }
    .clone-block>h3{
        font-size: 14px;
    }

    /*푸터*/
    .footer-content h3{
        font-size: 20px;
    }
    footer> .copy{
        font-size: 14px;
    }
}