@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: block;
    color: inherit;
}

.wrap{
    background-color: #FFF8EC;
    width: 100%;
}

header{
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo img{
    width: 150px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gnb{
    width: 40%;
    position: absolute;
    top: 40px;
    left: 0px;
}

.navi{
    display: flex;
}

.navi>li{
    width: 40%;
}

.navi>li>a{
    font-size: 15px;
    text-align: left;
    letter-spacing: 3px;
    text-align: center;
}

.navi>li>a:hover{
    font-weight: bold;
}

.etc{
    width: 40%;
    position: absolute;
    top: 40px;
    right: 0px;
}

.head-etc{
    display: flex;
}

.head-etc>li{
    width: 40%;
}

.head-etc>li>a{
    font-size: 15px;
    text-align: right;
    letter-spacing: 3px;
    text-align: center;
}

.head-etc>li>a:hover{
    font-weight: bold;
}


/*main*/

.main{
    width: 100%;
}

.inner{
    width: 1200px;
    margin: auto;
}

.title{
    height: 250px;
    text-align: center;
    position: relative;
}
.our_house{
    padding-bottom: 30px;
}
.our_house p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 40px;
    padding: 60px 0px 30px;
}
.our_house span{
    font-size: 15px;
    letter-spacing: 2px;
}

.page{
    width: 50%;
    position: absolute;
    top: 75%;
    left: 25%;
}

.page ul{
    -border: 1px solid green;
    display: flex;
}

.page li{
    -border: 1px solid blue;
    width: 40%;
    padding: 10px;
}

.page li a{
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
}

.page li a:hover{
    display: inline-block;
    border-bottom: 1px solid #000;
}

.radius{
    -border: 1px solid darkorange;
    padding: 7px;
}

.page ul li:nth-of-type(2){
    font-weight: bold;
}


/*img*/
.content img{
    width: 480px;
    height: 300px;
    object-fit: cover;
    margin: 50px 0;
}

.cont_box3 img{
    width: 1200px;
    height: 600px;
    object-fit: cover;
    margin: 50px 0;
}

.cont_box4 img, .cont_box5 img{
    width: 580px;
    height: 400px;
    object-fit: cover;
    margin: 50px 0;
}


.content{
    display: flex;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.cont_text{
    padding-top: 150px;
    padding-right: 30px;
}

.cont_text a{
    font-size: 32px;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.cont_text a:hover{
    font-size: 33px;
}

.cont_text p{
    font-size: 15px;
    letter-spacing: 2px;
    padding-top: 20px;
    line-height: 20px;
}

.cont_box1, .cont_box2{
    border-bottom: 1px solid #dedede;
    padding: 30px 0px 30px;
}

.title_box{
    width: 400px;
}
.text_box{
    width: 800px;
}

.sub_cont_text{
    display: flex;
}
.sub_cont_text a{
    font-size: 30px;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.sub_cont_text a:hover{
    font-size: 31px;
}
.sub_cont_text span{
    font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: bold;
    line-height: 20px;
}
.sub_cont_text p{
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 20px;
}


.cont_box3{
    padding-top: 30px;
    border-bottom: 1px solid #dedede;
}

.cont_box3 p{
    padding: 20px 0px 20px;
}

.cont_box4{
    padding-top: 30px;
    border-bottom: 1px solid #dedede;
}

.cont_box4 p{
    padding: 20px 0px 20px;
}

.cont_box4 .img_box{
    display: flex;
}

.cont_box4 .img_box a{
    padding-right: 40px;
}

.cont_box5{
    padding-top: 30px;
}

.cont_box5 p{
    padding: 20px 0px 20px;
}

.cont_box5 .img_box{
    display: flex;
}

.cont_box5 .img_box a{
    padding-right: 40px;
}





/*footer*/
footer{
    width: 100%;
}

.box1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FFF2DB;
    padding: 6%;
}

.box1 div{
    width: calc(100% / 2);
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #989898;
}
.box1 div:last-child{
    border-right: none;
}

.box1 p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: bold;
}
.box1 p:hover{
    font-size: 21px;
}
.box1 span{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: lighter;
}


.box2{
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.foot-navi{
    width: 80%;
    margin: auto;
    display: flex;
    padding: 40px 0;
}

.foot-navi>li{
    width: 25%;
}

.foot-navi>li>a{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

.foot-sub>li>a{
    font-size: 13px;
    letter-spacing: 1px;
}



.box3{
    width: 100%;
    background-color: #C31B23;
}

.box3-inner{
    width: 70%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy ul{
    display: flex;
}
.copy li{
    padding-right: 20px;
}
.copy span{
    font-weight: bold;
    font-size: 13px;
}
.copy a{
    font-size: 13px;
    letter-spacing: 1px;
}

.foot-etc ul{
    display: flex;
}
.foot-etc li{
    padding-left: 20px;
}
.foot-etc a{
    font-size: 13px;
    letter-spacing: 1px;
}


