@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.clear{
	clear:both;
}
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}
body{
	-overflow-x:hidden;
}
ul,ol{
	list-style-type:none;
}
a{
	text-decoration:none;
}
.inner{
	width:1200px;
	margin:auto;
	-border:1px solid red;
}
/* 헤더(logo, gnb, etc-menu) */
header{
	background-color:#fff;
	border-bottom:1px solid #999;
	width:100%;
	min-width:1400px; /* 1200px이하로는 작아지지 않게 함 */
	height:90px;
	position:fixed;
	top:0px;
	left:0px;
	z-index:100;
}
.logo{
	width:234px;
	height:40px;
	background:url("../img/logo.png") no-repeat;
	background-size:cover;
	position:absolute;
	left:70px;
	top:25px;
}
.logo a{
	display:block;
	text-indent:-9999em;
}
nav{
	position:absolute;
	bottom:0px;
	width:100%;
}
.gnb{
	text-align:center;
}
.gnb >li{ /* 메인메뉴만 인라인블록으로 만듬 */
	display:inline-block;
	-float: right;
}
.gnb >li >a{
	color:#000;
	font-size:20px;
	display:block;
	padding:20px 25px 20px;
	position:relative;
}
.gnb>li>a>.line{
	display:block;
	width:100%;
	height:5px;
	background-color:#137dc3;
	position:absolute;
	left:0px;
	bottom:0px;
	display:none;
}
.sub-wrap{ /* 서브메뉴전체를 가진 박스 */
	display:none;
	position:absolute;
	left:0px;
	width:100%;
	height:400px;
	background-color:#fff;
	padding:30px;
	box-shadow:0px 500px 0px 100px rgba(0,0,0,0.7);
}
.gnb>li:hover .sub-wrap,
.gnb>li:hover .line{
	display:block;
}
.submenu-title{
	float:left;	
	width:300px;
	padding-top:7px; 
	font-size:40px;
	font-weight:bold;
	color:#444;
	letter-spacing:3px;
}
.submenu{
	float:left;
	width:500px;
}
.submenu li{
	margin-top:7px;
	text-align:left;	
}
.submenu li a{
	display:block;
	padding:5px 0;
	font-size:19px;	
	color:#222; 
}
.submenu li a:hover{
	color:#0066eb;	
}
/* header 오른쪽의 기타링크들 */
.etc-menu{ 
	position:absolute;
	top:35px;
	right:70px;	
}	
.etc-menu ul li{
	display:inline-block;
	margin:0 10px; 
}
.etc-menu ul li a.sch{
	display:block; 
	width:19px;
	height:19px;
	background:url("../img/icon-sch.png") no-repeat;
	background-size:cover;
	text-indent:-9999em;
}
.etc-menu ul li a.login{
	display:block;
	width:19px;
	height:19px;
	background:url("../img/icon-login.png") no-repeat;
	background-size:cover;
	text-indent:-9999em;
}
.etc-menu ul li a.family{
	display:block;
	font-size:20px;
	font-weight:400;
	color:#555;
}
.etc-menu ul li a.lang{
	display:block;
	font-size:20px;
	font-weight:400;
	color:#555;
}
.etc-menu ul li a.lang:hover,
.etc-menu ul li a.family:hover
{
	color:#007dc3;	
}

/* 메인비주얼 */
#main-visual{
	width:100%;
	height:790px;
}
.fix-visual{
	background:url("../img/main-visual.jpg") no-repeat 50% 50%;
	width:100%;
	height:790px;
	position:fixed;
	top:0px;
	left:0px;
}
.slogan{
	position:absolute; 
	left:50%;
	margin-left:-504px;
	bottom:90px;
}
/* 섹션공통 */
section{
	position:relative;
	background-color:#fff;
	padding-top:70px;
}
.title{
	font-size:32px;
	letter-spacing:-2px;
	word-spacing:2px;
	color:#222;
	font-weight:400;
	height:70px;	
	text-align:center;
}

/* 섹션1(서울에서 가을 맞이하기) */
#sect01 .contents-wrap{
	margin:20px 0px;
}
/* .content의 플롯을 클리어 */
#sect01 .contents-wrap::after{
	content:"";
	display:block;
	clear:both;	
}
#sect01 .content{
	width:380px;
	margin-right:30px;
	float:left;
}
#sect01 .content:last-child{
	margin-right:0px;
}
#sect01 .img-box{
	width:380px;
	height:278px;
	position:relative;
}
#sect01 .content:nth-child(1) .img-box{
	background:url("../img/sect01-1.png") no-repeat center center;
	background-size:cover;
}
#sect01 .content:nth-child(2) .img-box{
	background:url("../img/sect01-2.png") no-repeat center center;
	background-size:cover;
}
#sect01 .content:nth-child(3) .img-box{
	background:url("../img/sect01-3.png") no-repeat center center;
	background-size:cover;
}
#sect01 .cover{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	position:absolute;
	left:0px;
	top:0px;
	display:none;
}
#sect01 .content:hover .cover{
	display:block;
}
#sect01 .cover>a{
	-border:1px solid red;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
	color:#fff;
	font-size:15px;
}
#sect01 .content .desc{
	padding:10px;	
}
#sect01 .content .desc h3{
	color:#222;
	font-size:24px;
	font-weight:400;
	line-height:2;
}
#sect01 .content .desc p{
	color:#333;
	font-size:15px;	
}
#sect01 .banner{
	width:100%;
}

/* 섹션2(서울의 산) */
.content-top{
	margin:30px 0px;
	overflow:hidden; /* 사진과 텍스의 플롯을 클리어*/
}
.content-top .photo{
	width:800px;
	height:380px;
	float:left;
	background:url("../img/mount-01.jpg") no-repeat;
}
.content-top .txt{
	background:url("../img/01.png") no-repeat -10px -60px;
	width:355px;
	height:380px;
	float:right;
}

.content-top .txt h3{
	position:relative; /*현재위치 기준으로 위치지정하기 위함 */
	left:30px;
	top:90px;
	font-size:25px;
}
.content-top .txt p{
	position:relative; /*현재위치 기준으로 위치지정하기 위함 */
	color:#333;
	left:0px;
	top:130px;
}
/* 2층(오른쪽 사진과 왼쪽 텍스트) */
.content-middle{ 
	margin:30px 0;
	overflow:hidden;  /* 사진과 텍스트박스의  플롯을 클리어 */
}
.content-middle .photo{
	width:800px;
	height:380px;
	background:url("../img/mount-02.jpg") no-repeat;
	float:right;
}
.content-middle .txt{
	background:url("../img/02.png") no-repeat -10px -60px;
	width:355px;
	height:380px;
	float:left;
}
.content-middle .txt h3{
	position:relative;
	left:30px;
	top:90px;
	font-size:25px;
}
.content-middle .txt p{
	position:relative;
	color:#333;
	left:0px;
	top:130px;
}
/* 맨아래층 3개 */
.content-bottom{
	width:370px;
	margin-right:45px;
	float:left;
}
.content-bottom.b3{
	margin-right:0px;
}
.content-bottom .photo{
	height:320px;
}
.content-bottom .txt{
	height:200px;
}
.content-bottom.b1 .photo{
	background:url("../img/mount-03.jpg") no-repeat;
	background-size:cover;
}
.content-bottom.b2 .photo{
	background:url("../img/mount-04.jpg") no-repeat;
	background-size:cover;
}
.content-bottom.b3 .photo{
	background:url("../img/mount-05.jpg") no-repeat;
	background-size:cover;
}

.content-bottom.b1 .txt{
	background:url("../img/03.png") no-repeat 0px 0px;
}
.content-bottom.b2 .txt{
	background:url("../img/04.png") no-repeat 0px 0px;
}
.content-bottom.b3 .txt{
	background:url("../img/05.png") no-repeat 0px 0px;
}
/* .content-bttom 의 공통스타일 */
.content-bottom h3{
	position:relative;
	left:10px;
	top:70px;
	font-size:25px;
}
.content-bottom p{
	position:relative;
	color:#333;
	left:0px;
	top:90px;
}

/* 섹션03 (전시행사) */
#sect03{
	background-color:#f4f4f4;
}
.poster{
	width:220px;
	height:330px;
	margin:0px 20px;
	float:left;
}
.poster-group{
	width:2100px;
	height:350px;
	margin:50px 0 10px;
}
.poster-wrap{
	width:1900px;
	overflow-x:auto;
}
/* 섹션04(핫플) */
.map{
	width:660px;
	height:580px;
	margin:auto;	
}
.map-wrap > div{ /* 2열2행 박스 4개 */
	width:588px;
	height:100px;
	margin:24px 24px 0px 0px;
	float:left;
	position:relative;
}
.map-wrap > div:nth-child(2n){
	margin-right:0px;
}
.map-wrap h3{
	position:absolute;
	color:#fff;
	font-size:25px;
	font-weight:400;
	letter-spacing:5x;
	left:30px;
	top:50%;
	transform:translateY(-50%);
}
.map-wrap span{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	right:32px;
	padding:8px 25px;
	background-color:#fff;	
	color:#555;
}

/*섹션*/
#sect05{
	padding-bottom:50px;
}

#sect05 .movie-wrap{
  overflow:hidden;
}
#sect05 .left-frame{
		width:580px;
		height:328px;
		float:left;
		border:none;
}
#sect05 .right-frame{
		width:580px;
		height:328px;
		float:right;
		border:none;
}

/*footer*/
footer{
		position:relative;
}
.fgroup-1{
		overflow:hidden; /* .footer-info와 .footer-sns 플롯을 클리어 */
		background-color:#333;
}
.footer-info{
		float:left;
}
.footer-info li{
		float:left;
		position:relative;
}
.footer-info li a{
		color:#ececed;
		font-size:15px;
		display:block;
		padding:10px 20px;
}
.footer-sns{
		float:right;
}
.footer-sns li{
		float:right;
}
.footer-sns li a{
		display:block;
		padding:10px 20px;
}
.footer-sns li i{
		font-size:20px;
		color:#fff;	
}
.fgroup-2{
		background-color:#444;	
		padding:50px 0;
}
.fgroup-2 .inner{
		display:flex;
		justify-content:space-between;
}
.fgroup-2 dl{
		-border:1px solid red;
}
dl.provide, .bizhour, .mobile dt{
		font-size:17px;
		color:#fff;
}
dl.provide dd{
		float:left;
}
dl.provide img{
		width:170px;
		margin-right:20px;
}
dl.bizhour dt{
		padding-top:20px;
}
dl.bizhour dt:first-child{
		padding-top:0px;
}
dl.bizhour dd{
		color:#ccc;
		font-size:15px;
		padding:5px 0px;
}
dl.bizhour dt a{
		color:#fff;
		padding-top:20px;
}
dl.bizhour .call{
		font-size:30px;
		font-weight:bold;
}
dl.mobile dd{
		float:left;
}
dl.mobile img{
		width:120px;
		height:50px;
		padding-top:10px;
		padding-right:20px;
}
.fgroup-3{
		background-color:#444;	
		padding:30px 0;
		border-top:1px solid #555;
}
address{
		font-size:14px;
		color:#fff;
		font-style:normal;
}