@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: block;
    color: #333;
}
body{
    color: #333;
}

/*header*/
header{
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    position:sticky;
    top:0;
    z-index:100;
    background-color: #fff;
}
#logo img{
    width: 130px;
}
#gnb{
    width: 50%;
    margin: 18px auto;
}
.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navi>li{
    width: 100%;
}
.navi>li>a{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}
.navi>li>a:hover{
    font-weight: bold;
}




/*main-visual*/
#main-visul{
    width: 100%;
}
.slide-wrapper{
    width: 100%;
}
.slide{
    width: 100%;
    position: relative;
}
.slide img{
    width: 100%;
    height: 1000px;
    object-fit: cover;
}
.slick-dots {
	justify-content: center;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
	list-style-type: none;
	
		li {
			margin: 10px 0;
		}
	
		button {
			display: block;
			width: 11px;
			height: 11px;
			border: none;
            border-radius: 100%;
			background-color: rgba(0,0,0,0.5);
			text-indent: -9999px;
            cursor: pointer;
		}
	
		li.slick-active button {
			background-color: #fff;
		}
	
}


/*sect01*/
#sect01{
    width: 100%;
}
#sect01 .inner{
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 800px;
    margin: 100px auto;
}
#sect01 h2{
    text-align: center;
    padding: 100px 0 0;
    color: #fff;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.sect01-wrapper{
    width: 80%;
    margin: 70px auto;
}
.sect01-slide{
    background-color: #fff;
    margin: 0 10px;
}
.sect01-slide img{
    width: 90%;
    margin: auto;
    padding: 50px 0;
}
.sect01-info{
    width: 90%;
    height: 250px;
    margin: auto;
    text-align: center;
    padding-bottom: 70px;
}
.sect01-info h3{
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.sect01-info p{
    font-size: 13px;
    padding-bottom: 30px;
    letter-spacing: 1px;
}
.sect01-info span{
    padding: 10px 25px;
    border: 2px solid #333;
    letter-spacing: 1px;
    font-size: 13px;
    cursor: pointer;
}
.sect01-info span:hover{
    border: 2px solid #A27F56;
    color: #A27F56;
}
.prev, 
.next {
    position: relative;
    float:left;
    width:100%;
}
.prev::after {
    position: absolute;
    left: 50px; 
    top: 300px;
    content: '';
    width: 20px; /* 사이즈 */
    height: 20px; /* 사이즈 */
    border-top: 2px solid rgba(255,255,255,0.5); /* 선 두께 */
    border-right: 2px solid rgba(255,255,255,0.5); /* 선 두께 */
    transform: rotate(225deg); /* 각도 */
    cursor: pointer;
}
.next::after {
    position: absolute;
    right: 50px; 
    top: 300px; 
    content: '';
    width: 20px; /* 사이즈 */
    height: 20px; /* 사이즈 */
    border-top: 2px solid rgba(255,255,255,0.5); /* 선 두께 */
    border-right: 2px solid rgba(255,255,255,0.5); /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
    cursor: pointer;
}


/*sect02*/
#sect02{
    width: 100%;
    position: relative;
}
#sect02 h2{
    text-align: center;
    color: #A27F56;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 100px 0 70px;
}
.sect02-info{
    width: 100%;
    text-align: right;
}
.sect02-info h3{
    font-size: 25px;
    letter-spacing: 1px;
    padding: 30px 0;
    font-family: 'Times New Roman', Times, serif;
}
.sect02-info p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 23px;
    padding-bottom: 30px;
}
.sect02-info span{
    font-size: 13px;
    letter-spacing: 1px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}
.sect02-info span:hover{
    border-bottom: 1px solid #A27F56;
    color: #A27F56;
}

.sect02-wrapper{
    width: 70%;
}
.tab-section img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#tab-button-nav{
    width: 20%;
    position: absolute;
    top: 300px;
    right: 0;
    display: inline-flex;
    flex-direction: column;
}
.tab-button{
    margin: 20px;
    text-align: left;
    border: none;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
} 

.tab-button:hover{
    color: #A27F56;
}



/*sect03*/
#sect03{
    width: 80%;
    margin: auto;
}
#sect03 h2{
    text-align: center;
    color: #333;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 100px 0 70px;
}
#sect03 .box img{
    width: 100%;
}
#sect03 .box{
    width: 100%;
    display: flex;
    padding-bottom: 70px;
}
#sect03 .box .textbox,
#sect03 .box .textbox1{
    width: 80%;
    margin: 0 30px;
}
#sect03 .box .textbox{
    text-align: left;
}
#sect03 .box .textbox1{
    text-align: right;
}
#sect03 .box .textbox h3,
#sect03 .box .textbox1 h3{
    font-size: 28px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}
#sect03 .box .textbox p,
#sect03 .box .textbox1 p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}


/*sect04*/
#sect04{
    width: 100%;
}
#sect04 h2{
    text-align: center;
    padding:100px 0 70px;
    color: #333;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.sect04-wrapper{
    width: 100%;
}
.sect04-slide{
    width: 35%;
    margin: 0 20px;
    border: 1px solid #dedede;
}
.sect04-slide img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.sect04-info{
    width: 100%;
    height: 150px;
    background-color: #fff;
}
.sect04-info h3{
    font-size: 23px;
    padding: 20px 10px;
}
.sect04-info span{
    font-size: 13px;
    border-bottom: 1px solid #333;
    margin: 0 10px;
    cursor: pointer;
}
.sect04-info span:hover{
    color: #A27F56;
    border-bottom: 1px solid #A27F56;
}

.slick-prev, 
.slick-next{
    border: none;
    background-color: transparent;
}
.slick-prev{
    position: absolute;
    left: 100px;
    top: 200px;
    z-index: 1000;
    width: 50px; 
    height: 50px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.5);
    display:inline-block;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 1;
}
.slick-next{
    position: absolute;
    right: 100px;
    top: 200px;
    z-index: 1000;
    width: 50px; 
    height: 50px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.5);
    display:inline-block;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 1;
}
.slick-prev::before{
    position: absolute;
    content: '';
    width: 15px; /* 사이즈 */
    height: 15px; /* 사이즈 */
    border-top: 2px solid rgba(255,255,255,0.9); /* 선 두께 */
    border-right: 2px solid rgba(255,255,255,0.9); /* 선 두께 */
    transform: rotate(225deg); /* 각도 */
    position:absolute;
    left:18px;
    top:16px;
    font-size:2em; 
    cursor: pointer;
}
.slick-next::before{
    position: absolute;
    content: '';
    width: 15px; /* 사이즈 */
    height: 15px; /* 사이즈 */
    border-top: 2px solid rgba(255,255,255,0.9); /* 선 두께 */
    border-right: 2px solid rgba(255,255,255,0.9); /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
    position:absolute;
    right:19px;
    top:16px;
    font-size:2em; 
    cursor: pointer;
}


/*sect05*/
#sect05{
    width: 100%;
}
#sect05 h2{
    text-align: center;
    padding:100px 0 70px;
    color: #333;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 2px;
}
#sect05 .box-wrapper{
    width: 1000px;
    display: flex;
    margin: auto;
    text-align: center;
}
#sect05 .box{
    border: 1px solid #fff;
    position: relative;
}
#sect05 .textbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
#sect05 .textbox h3{
    font-size: 18px;
    letter-spacing: 1px;
}

#sect05 .box>.imgbox{
    height: 500px;
    position: relative;
    display: block;
    overflow: hidden;
}
#sect05 .box img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
#sect05 .box:hover>.imgbox img{
    transform: scale(1.2);
    transition: transform 1s;
}

#sect05 .box>.imgbox::after{
    display: block;
    content: "";
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 1s;
}

#sect05 .box:hover>.imgbox::after{
    background-color: rgba(0,0,0,0.5);
    transition: background-color 1s;
}

#sect05 .box>.imgbox::before{
    content: "Details";
    cursor: pointer;
    top: 300px;
    left: 220px;
    position: absolute;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px;
    z-index: 1;
    opacity:0; 
    transition: opacity 1s;
}

#sect05 .box:hover>.imgbox::before{
    opacity: 1;
    transition: opacity 1s;
}


/*footer*/
footer{
    margin-top: 100px;
    border-top: 2px solid #dedede;
    width: 100%;
    height: 100px;
    display: flex;
}
footer #logo{
    padding: 10px 20px;
}
.foot-nav{
    display: flex;
    margin: auto;
    width: 60%;
}
.foot-nav li{
    width: 100%;
}
.foot-nav li a{
    font-size: 13px;
}
footer p{
    font-size: 13px;
    padding: 40px 20px;
}




/*햄버거*/
.ham{
    width: 100%;
    height: 100%;
    display: none;
}
.menu_btn{
    text-align: right;
    padding: 5px 10px;
}
.sidebar_menu{
    display: none;
    width: 100%;
    height: 100%;;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.close_btn{
    text-align: right;
    padding: 25px 10px;
}
.close_btn > a{
    display: block;
    width: 100%;
    height: 100%;
}
.menu_wrap{
    background-color: #fff;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
}
.menu_wrap li{
    border-bottom: 1px solid #ccc;
}
.menu_wrap li:first-child{
    border-top: 1px solid #ccc;
}
.menu_wrap li a{
    color: #333;
    font-size: 15px;
    font-weight: bold;
    padding: 30px 0;
}
.menu_wrap li a:hover{
    color: #A27F56;
}