@media (max-width: 768px) {
    body{
        margin-top: 13vh;
    }
    
    .header-inner{
        flex-direction: column;
        justify-content: center;
    }
    #logo img {
        width: 80px;
        padding-bottom: 14px;
    }
    .navi li a{
        font-size: 11px;
    }

    .slick-dots{
        button{
            width: 9px;
			height: 9px;
        }
    }
    .hero-overlay h1{
        font-size: 28px;
    }
    .hero-overlay p{
        font-size: 12px;
    }
    .hero-overlay .btn{
        padding: 10px 23px;
        font-size: 11px;
    }

    #sect01 h2,#sect02 h2,#sect03 h2,#sect04 h2,#sect05 h2{
        font-size: 22px;
    }

    .sect01-info h3{
        font-size: 16px;
    }
    .sect01-info p{
        font-size: 11px;
    }
    .sect01-info .btn{
        font-size: 11px;
    }
    .prev, .next{
        width: 35px;
        height: 35px;
    }
    .prev::after, .next::after{
        width: 8px;
        height: 8px;
    }


    .tab-section img{
        height: 400px;
    }
    .sect02-info h3{
        font-size: 18px;
        padding: 20px 0 10px;
    }
    .sect02-info p{
        display: none;
    }
    .sect02-info span{
        font-size: 11px;
    }
    .tab-button{
        font-size: 11px;
        white-space: normal;
    }
    #tab-button-nav{
        top: 290px;
    }
    
    #sect03 .box img{
        height: 200px;
    }
    #sect03 .box .textbox h3,
    #sect03 .box .textbox1 h3{
        font-size: 16px;
        white-space: normal;
    }
    #sect03 .box .textbox p,
    #sect03 .box .textbox1 p{
        display: none;
    }

    .sect04-info h3{
        font-size: 14px;
    }
    .sect04-info span{
        font-size: 11px;
    }
    .sect04-prev, .sect04-next{
        width: 38px;
        height: 38px;
    }
    .sect04-prev::before, .sect04-next::before{
        width: 12px;
        height: 12px;
    }

    #sect05 .textbox h3{
        font-size: 15px;
    }
    #sect05 .box>.imgbox::before{
        padding: 10px 26px;
        font-size: 11px;
    }

    footer{
        font-size: 11px;
    }
    footer p{
        font-size: 11px;
    }
}