@charset "uft-8";
@font-face{
	font-family:"Ubuntu-Bold";
	src:url("font/Ubuntu-Bold.woff");
}

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
}
h1{
	display:none;
}
nav{
	background-color:#222;
	height:44px;
	line-height:44px;
}
.mobile-menu{ /* 모바일 네비 3개의 메뉴를 배분정렬하기 위함 */
	display:flex;
	justify-content:space-between;
}
.mobile-menu li a{
	display:block;
	padding:0 20px;
	color:#fff;
	font-size:12px;
}
.mobile-menu .apple a{
	text-indent:-9999em;
	background:url("../img/apple-logo.svg") no-repeat 50%;
}
.mobile-menu .cart a{
	text-indent:-9999em;
	background:url("../img/cart.svg") no-repeat 50%;
}
#gnb-wrap{
	display:none;
	background:#111;
	position:absolute;
	width:100%;
}
#gnb{
	padding:0px 30px;
}
#gnb li a{
	color:#fff;
	display:block;
	padding:0px 5px;
	font-size:12px;
}
#gnb li{
	border-bottom:1px solid rgba(255,255,255,0.2);
}


/* pc에서만 보여줄 메뉴(li) 감춤 */
#gnb .apple,
#gnb .search,
#gnb .cart{
	display:none;
}
#ribbon-cont{
	background-color:#e34140;
	text-align:center;
	font-size:12px;
	line-height:1.6;
	padding:10px 0px;
	color:#fff;
}
#ribbon-cont span{
	display:block;
}

/* 메인비주얼 */
#visual .copy-box .apple{
	display:none;
}
#visual .img-box{
	display:none;
}
#visual{
	width:100%;
	height:500px;
	background:#eeeffe;
	display:flex; /* 가로로 바꿈 */
	flex-direction:column;
	justify-content:center; 
	align-items:center;
}
#visual .copy-box{
	-border:1px solid green;
	text-align:center;
}
#visual .img-box-mb{
	-border:1px solid green;
}
#visual .copy-box h2{
	font-family:'Ubuntu-Bold' , sans-serif; 
	font-size:26px;
	letter-spacing:-1px;
	word-spacing:2px;
	color:#222;
	margin:10px 0;
}
#visual .copy-box .link a{
	color:#379cd9;
	font-size:14px;
	font-weight:bold;
	display:inline-block;
}

/* 상품섹션 1,2 */
#sect01{
	height:500px;
	background:url("../img/sect01-bg-mb.jpg") no-repeat center center;
}
#sect02{
	height:500px;
	background:url("../img/sect02-bg-mb.jpg") no-repeat center center;
}
.copy-box-lg{
	-border:1px solid red;
	text-align:center;
	padding:15px 0px;
}
.copy-box-lg h2{
	font-family:'Ubuntu-Bold' , sans-serif; 
	font-size:26px;
	color:#222;
	padding:12px;
	letter-spacing:-1px;
	word-spacing:2px;
}
.copy-box-lg h3{
	font-size:17px;
	color:#444;
}
.copy-box-lg .link a{
	color:#379cd9;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	display:inline-block;
	padding:10px 20px;
}

/* 상품섹션3 */
#sect03 .content{
	height: 400px;
	width: 100%;
	position: relative;
}
.content.cont1{
	background: url("../img/cont1-mb.jpg") no-repeat center center;
}
.content.cont2{
	background: url("../img/cont2-mb.jpg") no-repeat center center;
}
.content.cont3{
	background: url("../img/cont3-mb.jpg") no-repeat center center;
}
.content.cont4{
	background: url("../img/cont4-mb.jpg") no-repeat center center;
}
.copy-box-sm h2{
	font-family:'Ubuntu-Bold' , sans-serif ;
	font-size: 16px;
	color: #379cb9;
	font-weight: bold;
	display: inline-block;
	padding:5px;
	font-size:24px;
	letter-spacing:-2px;
	word-spacing:2px;
	color:#222;
	margin:12px 0;
}
.copy-box-sm h3{
	font-size:17px;
	color:#444;
}
.copy-box-sm .link a{
	font-size: 16px;
	color: #379cb9;
	font-weight: bold;
	display: inline-block;
	padding:5px;
}
 /* footer */
 footer{
	background-color: #ededed;
	color:#777;
	font-size:9px;
	padding: 30px 10px;
	line-height: 1.8;
}
.foot-link ul li{
	display:inline-block;
}
.foot-link ul li:not(:last-child)::after{
	content: "";
	display: inline-block;
	width: 1px;
	height: 8px;
	background-color: #999;
}
.foot-link ul li a{
	color: #0bace1;
	text-decoration: none;
	padding: 0px 3px;
}
.foot-link ul li:first-child a{
	padding-left: 0px;
}
address{
	font-style:normal;
	color:#777;
}
address span{
	display: inline-block;
}