@charset "uft-8";
.mobile-menu{
    display: none;
}
#gnb-wrap{
    display: block !important;
    position: static;/* 모바일css에서 준 absolute 포지션을 디폴트로 되돌림 */
    -border: 5px solid blue;
    max-width: 980px;
    margin: auto;
}
#gnb{
    background-color: #222;
    display: flex;
    justify-content: space-between;
}
#gnb .apple,
#gnb .search,
#gnb .cart{
    display: block;
}
#gnb li.apple a{
    text-indent: -9999em;
    padding: 0px 10px;
    background: url("../img/apple-logo.svg") no-repeat;
}
#gnb li.search a{
    text-indent: -9999em;
    padding: 0px 10px;
    background: url("../img/search.svg") no-repeat;
}
#gnb li.cart a{
    text-indent: -9999em;
    padding: 0px 10px;
    background: url("../img/cart.svg") no-repeat;
}
#ribbon-cont{
    font-size: 14px;
}
#ribbon-cont span{
    display: inline;
}

/* 메인비주얼 */
#visual{
    height: 680px;
}
#visual .copy-box .apple-mb{
    display: none;
}
#visual .copy-box .apple{
    display: block;
}

#visual .img-box-mb{
    display: none;
}
#visual .img-box{
    display: flex;
    justify-content: center;
}
#visual .img-box img{
    margin: 30px;
}
#visual .copy-box h2{
	font-family:'Ubuntu-Bold' , sans-serif; 
	font-size:50px;
	letter-spacing:2px;
	word-spacing:2px;
	color:#222;
	margin:20px 0;
}

/* 섹션 1,2 */
#sect01{
    height: 700px;
    background: url("../img/sect01-bg.jpg") no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#sect02{
    height: 700px;
    background: url("../img/sect02-bg.jpg") no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.copy-box-lg{
    width: 980px;
    margin-top: 40px;
}
.copy-box-lg h2{
    font-size: 50px;
}
.copy-box-lg h3{
    font-size: 24px;
}
.copy-box-lg .link a{
    font-size: 18px;
}

/* 섹션3 */
#sect03 .row{
    display: flex;
    justify-content: space-between;
    margin: 12px;
}
#sect03 .content{
    height: 580px;
    width: 50%;
    background-clip: content-box;/* 패딩을 제외한 영역에만 배경이미지가 들어감*/
}
#sect03 .content:nth-child(odd){
    padding-right: 6px;
}
#sect03 .content:nth-child(even){
    padding-left: 6px;
}

.content.cont1{
	background: url("../img/cont1.jpg") no-repeat center center;
}
.content.cont2{
	background: url("../img/cont2.jpg") no-repeat center center;
}
.content.cont3{
	background: url("../img/cont3.jpg") no-repeat center center;
}
.content.cont4{
	background: url("../img/cont4.jpg") no-repeat center center;
}

.copy-box-sm{
    text-align: center;
}
.copy-box-sm h2{
    font-size: 50px;
}
.copy-box-sm h3{
    font-size: 24px;
}
.copy-box-sm .link a{
    font-size: 18px;
}

/* footer */
footer{
    font-size: 11px;
    line-height: 2;
    padding: 50px 0px;
}
footer .inner{
    max-width: 980px;
    margin: auto;
}
.copyright{
    float: left;
}
.foot-link{
    float: left;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}