input,
select {
  width: 60%;
  padding: 8px;
  margin: 5px 0;
}

#interest-rate {
  cursor: pointer;
}
#interest-rate:hover {
  background-color: #e2e2e2;
}
#interest-rate-notice {
  display: none;
}
h2 {
  text-align: center;
}

header button {
  width: max-content;
  height: max-content;
  font-size: 14px;
  color: #333;
}

#addSection {
  background-color: #fff;
  width: 720px;
  border-radius: 12px;
  margin: 0 auto;
  padding: 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 32px;
}

.maturity-date-section,
.start-date-section {
  width: 450px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.maturity-date-section div:first-child,
.start-date-section div:first-child {
  display: flex;
  gap: 10px;
}

.maturity-date-section input,
.start-date-section input {
  width: 100%;
}

.interest-rate-section {
  width: 450px;
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
}

#interest-rate-notice {
  display: hidden;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  width: 450px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.savings-cycle-section {
  width: 450px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.savings-cycle-section div:first-child {
  display: flex;
  gap: 10px;
}
.savings-cycle-section select {
  width: 470px;
}
.amount-section {
  margin-bottom: 20px;
  width: 450px;
}
.amount-section div:first-child {
  display: flex;
  gap: 10px;
}
.amount-section input {
  width: 100%;
}

.submit-btn {
  width: 20%;
  background-color: #459cff;
  color: white;
  font-weight: bold;
  margin: 24px auto 0;
  display: block;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
.submit-btn:hover {
  background-color: #337acc;
}
.savingsListSection {
  background-color: #fff;
  min-width: 950px;
  border-radius: 12px;
  margin: 0 auto;
  padding: 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#savingsList {
  max-width: 800px;
}

li {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
li div.saving-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
li div.btn-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-g {
  background-color: #4caf50;
}

.btn-r {
  background-color: #f44336;
}

.btn-b {
  background-color: #459cff;
}
li div ul {
  display: flex;
  gap: 5px;
}
